---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox-immobilienscout24.de/restapi/api/offer/v1.0/user/me/realestate
    body:
      encoding: UTF-8
      string: '{"realestates.apartmentBuy":{"externalId":"extID1234"}}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key=consumer_key,oauth_nonce=FQ3aqM9pQQ,oauth_signature_method=HMAC-SHA1,oauth_timestamp=1552567703,oauth_token=access_token,oauth_version=1.0,oauth_signature=lt3iurWUBGIvbLc3qZHPuhJjIR0%3D
      Content-Type:
      - application/json
  response:
    status:
      code: 412
      message: ''
    headers:
      L-Is24-Requestrefnum:
      - 8f758dcb-1290-4124-9f52-f6083104f80d
      L-Is24-Apiclient:
      - 'consumer_key'
      L-Is24-Causerid:
      - '117533741'
      L-Is24-Resourceid:
      - "-"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"common.messages":[{"message":{"messageCode":"ERROR_RESOURCE_VALIDATION","message":"Error
        while validating input for the resource. [MESSAGE: field ''address'' is required]"}}]}'
  recorded_at: Thu, 14 Mar 2019 12:48:24 GMT
recorded_with: VCR 3.0.3
