---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox-immobilienscout24.de/restapi/api/offer/v1.0/user/me/realestate/ext-ABC123/topplacement
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - OAuth oauth_consumer_key=consumer_key,oauth_nonce=LYiEWxQUuA,oauth_signature_method=HMAC-SHA1,oauth_timestamp=1560263360,oauth_token=access_token,oauth_version=1.0,oauth_signature=DZd9mD1Esy87NVjfJbDiA%2Fc5FTA%3D
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      L-Is24-Apiclient:
      - consumer_key
      L-Is24-Requestrefnum:
      - 77791e25-0bdf-4c88-b31a-03b51e0d35f2
      L-Is24-Causerid:
      - '117533741'
      L-Is24-Resourceid:
      - ext-8T7HCVQ2
      - ext-8T7HCVQ2
    body:
      encoding: UTF-8
      string: '{"topplacement.topplacements": [{"topplacement": {"@realestateid": "123456789","messageCode": "MESSAGE_OPERATION_SUCCESSFUL","message": "activated","servicePeriod": {"dateFrom": "2023-06-02T16:49:37.000+02:00","dateTo": "2023-07-02T23:59:59.000+02:00"},"externalId": "ABC123"}}]}'
  recorded_at: Fri, 02 Jun 2023 14:05:57 GMT
recorded_with: VCR 5.1.0
