---
http_interactions:
- request:
    method: get
    uri: https://rest.sandbox-immobilienscout24.de/restapi/api/offer/v1.0/user/me/realestate/315270728/dailyreport?dateFrom=2019-06-11&dateTo=2019-06-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key=consumer_key,oauth_nonce=THDhqSKCuA,oauth_signature_method=HMAC-SHA1,oauth_timestamp=1560247200,oauth_token=access_token,oauth_version=1.0,dateFrom=2019-06-11,dateTo=2019-06-11,oauth_signature=EAAkOGrMrk6UD83mcg7wqCh6afw%3D
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><dailyReports
        objectNumber="S3W0UP6C"><reportDailyData><date>2019-06-11</date><matchesResultList>0</matchesResultList><displaysResultList>0</displaysResultList><exposeHits>0</exposeHits><onShortList>0</onShortList><clicksHomepage>0</clicksHomepage><emailContacts>0</emailContacts><clicksSendUrl>0</clicksSendUrl><clickFocusPlacement>0</clickFocusPlacement><showMiniExposeFocusPlacement>0</showMiniExposeFocusPlacement><displayFocusPlacement>0</displayFocusPlacement></reportDailyData></dailyReports>
  recorded_at: Wed, 07 Aug 2019 12:31:11 GMT
recorded_with: VCR 4.0.0
