---
http_interactions:
- request:
    method: get
    uri: https://rest.sandbox-immobilienscout24.de/restapi/api/offer/v1.0/user/me/realestate/315270728/dailyreport?dateFrom=2019-06-11&dateTo=2019-06-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key=consumer_key,oauth_nonce=THDhqSKCuA,oauth_signature_method=HMAC-SHA1,oauth_timestamp=1560247200,oauth_token=access_token,oauth_version=1.0,dateFrom=2019-06-11,dateTo=2019-06-11,oauth_signature=EAAkOGrMrk6UD83mcg7wqCh6afw%3D
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      L-Is24-Requestrefnum:
      - 3ced33fa-f4f7-4a55-8c9e-ac81e73a64da
      L-Is24-Apiclient:
      - 'consumer_key'
      L-Is24-Causerid:
      - '117533741'
      L-Is24-Resourceid:
      - '315270728'
    body:
      encoding: UTF-8
      string: '{"dailyReports":{"@objectNumber":"S3W0UP6C","reportDailyData":[{"date":"2019-06-11","matchesResultList":0,"displaysResultList":0,"exposeHits":0,"onShortList":0,"clicksHomepage":0,"emailContacts":0,"clicksSendUrl":0,"clickFocusPlacement":0,"showMiniExposeFocusPlacement":0,"displayFocusPlacement":0}]}}'
  recorded_at: Tue, 11 Jun 2019 10:00:00 GMT
recorded_with: VCR 3.0.3
